# Temporary, backup, dependency, and object files
*.o
*.bs
/_eumm/
*.swp
*.tmp
*.bak
tags
.lvimrc
.agignore
.DS_Store

.ackrc
.vimlocal

CHANGELOG.md

# Conch
conch.conf
report
log
bin/hypnotoad.pid
nytprof
nytprof.log

# Carton-installed dependency folder
local/
/local*


# deploy files
deploy/site.retry
deploy/staging
deploy/production
deploy/.vault_pass

# used by the docker-compse file
postgres
