# Temporary, backup, dependency, and object files
*.o
*.bs
/_eumm/
*.swp
*.tmp
*.bak
tags
.lvimrc
.agignore
.DS_Store
node_modules
Conch/ui/dist

# Conch
Conch/conch.conf
Conch/report
Conch/public/js/app.js
Conch/public/css/app.css
Conch/public/doc
Conch/log
Conch/bin/hypnotoad.pid

# Carton-installed dependency folder
local/

# deploy files
deploy/site.retry
deploy/staging
deploy/production
deploy/.vault_pass

