# Temporary, backup, dependency, and object files
*.o
*.bs
/_eumm/
*.swp
*.tmp
*.bak
tags
.lvimrc
.agignore
.DS_Store

.ackrc
.vimlocal

CHANGELOG.md

# Conch
conch.conf
report
public/doc
docs/conch-api/index.html
log
bin/hypnotoad.pid
nytprof
nytprof.log

# Carton-installed dependency folder
local/


# deploy files
deploy/site.retry
deploy/staging
deploy/production
deploy/.vault_pass

