# https://www.kernel.org/pub/software/scm/git/docs/git-shortlog.html#_mapping_authors
Lane Seppala <lane.seppala@joyent.com> <lseppala@users.noreply.github.com>
sungo <sungo@joyent.com> <sungo@sungo.us>
Bryan Horstmann-Allen <bdha@joyent.com> <bda@mirrorshades.net>
Karen Etheridge <ether@joyent.com> <ether@cpan.org>
Jared Morrow <jm@joyent.com> <jaredmorrow@users.noreply.github.com>
Dale Ghent <daleg@joyent.com> <daleg@elemental.org>
