[% META title = 'Datacenter List' -%]
 
<table border=1>
<tr><th>Vendor</th><th>Region</th><th>Location</th></tr>
[% FOREACH dc IN datacenters -%]
  <tr>
    <td>[% dc.vendor %]</td>
    <td>[% dc.region %]</td>
    <td>[% dc.location %]</td>
  </tr>
[% END -%]
</table>
