.rack-list {list-style:none;margin:0 0 10px;padding:0;}
.rack-list-item {background:#fafafa;border:1px solid #ddd;color:#333;display:block;margin:0 0 1px;padding:8px 15px;text-decoration:none;}
.rack-list-item:hover {text-decoration:underline;}
