# merge\_validation\_results - collapse duplicate validation\_result rows together

## SYNOPSIS

```
bin/conch merge_validation_results [long options...]

    -n --dry-run  dry-run (no changes are made)

    --help        print usage message and exit
```

## LICENSING

Copyright Joyent, Inc.

This Source Code Form is subject to the terms of the Mozilla Public License,
v.2.0. If a copy of the MPL was not distributed with this file, You can obtain
one at [http://mozilla.org/MPL/2.0/](http://mozilla.org/MPL/2.0/).
