body,.input,.button {font:normal 16px Verdana;margin:0;}

.select-rack {
    padding: 100px 0;
    text-align: center;
}

.room-list {
    height: 100vh;
    overflow: auto;
}

.rack-list-item {
    background:#fafafa;
    border:1px solid #ddd;
    color:#333;
    display:block;
    margin:0 0 2px;
    padding:8px 15px;
    text-decoration:none;
}

.rack-list-item:hover {
    text-decoration:underline;
}

.rack-list-item-active {
    background: #e0e0e0;
}

.notification {
    position: fixed;
    min-width: 100%;
    text-align: center;
    top: 0;
    right: 0;
}

.notification-success {
    background: #75ec75;
}
