body,.input,.button {font:normal 16px Verdana;margin:0;}

.nav {
    margin: 20px 0;
}

.nav-item {
    padding: 10px 4px;
}

.login-view {
    position: absolute;
    left: 50%;
    margin: 100px -300px 0;
    height: 200px;
    width: 600px; 
}

.login-view input {
    margin: 0 10px 0 0;
}

.select-rack {
    padding: 100px 0;
    text-align: center;
}

.selection-list {
    height: 100vh;
    overflow: auto;
}

.content-pane {
    height: 100vh;
    overflow: auto;
}

.content-pane table {
    width: 90%;
    margin: 20px auto;
}

.selection-list-item {
    background:#fafafa;
    border:1px solid #ddd;
    color:#333;
    display:block;
    margin:0 0 2px;
    padding:8px 15px;
    text-decoration:none;
}

.selection-list-item:hover {
    text-decoration:underline;
}

.selection-list-item-active {
    background: #e0e0e0;
}

.notification {
    position: fixed;
    min-width: 100%;
    text-align: center;
    top: 0;
    right: 0;
}

.notification-success {
    background: #75ec75;
}

.row-highlight {
    background: #fdfd77;
}
