body {
    font: normal 16px sans-serif;
    margin: 0;
    color: #001b2a;
}

body svg {
    display: none;
}

.logo {
    display: inline-block;
    width: 118px;
    height: 20px;
    background: no-repeat center/80% url('/images/logo-white.svg');
}

.pure-table caption {
    font: bold 16px sans-serif;
}

.text-center {
    text-align: center;
}

.pointer {
    cursor : pointer;
}

.log-text {
    white-space: pre-wrap;
    font: normal 14px monospace;
}

ul li {
    list-style: none;
}

.nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background: hsl(200, 92%, 5%);
}

.nav.mobile-is-active {
    display: block;
}

.nav-text-color {
    color: #fff;
}

.nav-link {
    padding: 20px;
}

.nav-link i.material-icons {
    margin-right: 10px;
    vertical-align: sub;
    color: hsl(200, 80%, 40%);
}

.nav-link:active {
    color: hsl(7, 98%, 55%);
}

.nav-link:hover {
    background-color: #1b2a32;
}

.nav-link:focus {
    color: #fd361b;
    background-color: #1b2a32;
}


.login-view {
    margin: 10% auto;
    height: 300px;
    width: 200px;
    text-align: center;
}

.login-view input {
    margin-top: 10px;
}

.login-view .pure-button {
    margin-top: 1.0em;
}

.feedback-form {
    margin: 7% auto;
    width: 90%;
}

.feedback-form textarea {
    height: 200px;
}

.feedback-form-close {
    cursor : pointer;
    position : absolute;
    top: 35px;
}

.mobile-nav {
    background: #011119;
    height: 50px;
    position: fixed;
    color: #fff;
}

.mobile-nav h2 {
    text-align: center;
}

.mobile-nav .pure-button {
    margin-top: 8px;
    margin-left: 20px;
    background: #fd361b;
    color: #fff;
}

.make-selection {
    padding: 100px 0;
    text-align: center;
}
.selection-list {
    display: none;
    position: fixed;
    overflow: auto;
    text-align: center;
    top: 80px;
    left: 0;
    bottom: 0;
    height: 100vh;
}

.selection-list.mobile-is-active {
    display: block;
}

.selection-list-header {
    background: #fff;
    border-bottom:1px solid #ddd;
    border-top:1px solid #ddd;
    left: 0;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 15px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.selection-list-item {
    background:#fff;
    border-bottom:1px solid #ddd;
    color:#333;
    display:block;
    margin:0;
    min-height: 50px;
    padding:8px 15px;
    text-decoration:none;
}

.selection-list-item:hover {
    background: #f5f5f5;
}

.selection-list-item-active {
    background: #e0e0e0;
}

.content-pane {
    display: none;
    position: fixed;
    top: 80px;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}

.content-pane.mobile-is-active {
    display: block;
}

.content-pane table {
    width: 90%;
    margin: 20px auto;
}

.notification {
    position: fixed;
    text-align: center;
    top: 0;
    left: 400px;
    right: 0;
    border-radius: 0 0 5px 5px;
    padding: 4px 0;
}

.notification-success {
    background: hsl(120, 65%, 80%);
    color: hsl(120, 95%, 5%);
}

.tooltip {
    background: hsl(200, 92%, 5%);
    color: hsl(200, 10%, 95%);
    font-size: 12px;
    padding: 5px;
    border-radius: 3px;
}

.notification-warning {
    background: hsl(7, 85%, 85%);
    color: hsl(7, 95%, 15%);
    border: 2px solid hsl(7, 85%, 75%);;
}

.row-highlight {
    background: #fdfd77;
}

.color-failure {
    background: #ff6e6e;
}

.rack-layout-footer {
    background: #fff;
    border-top:1px solid #ddd;
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
    width: 100%;
}

.rack-layout-footer button {
    display: block;
    margin: 10px auto;
}

.rack-status {
    min-width: 60px;
}

.rack-progress-graph {
    display: inline-block;
    margin-left: -8vw;
}

.rack-relay-active {
    width: 90%;
    margin: 0 auto;
    text-align: right;
}

.modal {
    content: "";
    background: rgba(0,0,0,.6);
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 10;
}

.modal-dialog {
  background: #fefefe;
  border-radius: 5px;
  margin: 20px auto;
  z-index: 11;
  padding: 5px;
  height: auto;
}

.status-device-list {
    width: 200px;
    margin: 0 auto;
}

.status-device-list-item {
    background:#eee;
    border-bottom:1px solid #efe2e2;
    color:#333;
    display:block;
    height: 30px;
    min-width: 8em;
    padding:8px 15px;
    text-decoration:none;
    line-height:30px;
}

.status-device-list-item:hover {
    background: #f5f5f5;
}

.workspace-select {
    margin: 10px 0 0;
    border: 0;
    width: 120px;

    text-indent: 10px;
    font-size: 12px;
    color: #fff;
    height: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: hsl(200, 80%, 40%);
    -webkit-box-shadow: inset 0 3px 3px 0px hsl(200, 70%, 30%);
    -moz-box-shadow: inset 0 3px 3px 0px hsl(200, 70%, 30%);
    box-shadow: inset 0 3px 3px 0px hsl(200, 70%, 30%);
}
select, option.selected {
    width:100px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

@media (min-width: 68em) {

    .layout {
        padding-left: 400px;
    }

    .mobile-nav {
        display: none;
    }

    .nav {
        display: block;
        position: static;
        margin-left: -400px;
        width: 150px;
    }

    .selection-list {
        border-right:1px solid #ddd;
        display: block;
        height: 100vh;
        overflow: auto;
        position: static;
        text-align: center;
        vertical-align: middle;
        width: 250px;
    }

    .content-pane {
        display: block;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 400px;
        width: auto;
    }

    .modal-dialog {
        width: 600px;
    }

    .two-pane {
        left: 150px
    }


}

@media (min-width:681px) {
    .pure-table td, .pure-table th {
        text-align: center;
        border-width: 0 0 1px;
        border-bottom: 0;
    }
}


@media screen and (max-width: 680px) {

    table {
      border: 0;
    }

    .pure-table td {
      border-bottom: 1px solid #cbcbcb
    }

    table thead {
      display: none;
    }

    table tr {
      display: block;
      border-bottom: 2px solid #ddd;
    }

    table td {
      display: block;
      text-align: right;
      min-height: 20px;
    }

    .pure-form table input[type=text] {
      display: inline-block;
      width: 150px;
      text-align: right;
    }

    table td:last-child {
      border-bottom: 0;
    }

    table td:before {
      content: attr(data-label);
      float: left;
      text-transform: uppercase;
      font-weight: bold;
    }
}


.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.green-icon { color: hsl(115, 95%, 40%) }
