body {
    font: normal 16px sans-serif;
    margin: 0;
    color: #001b2a;
}

#nav {
    background: #011119;
    width: 150px;
}

#nav h1 {
    color: #fff;
    margin: 20px 20px;
}

.nav-link {
    padding: 20px;
    color: #fff;
}

.nav-link:active {
    color: #fd361b;
}

.nav-link:hover {
    background-color: #1b2a32;
}

.nav-link:focus {
    background-color: #1b2a32;
}


.login-view {
    position: absolute;
    left: 50%;
    margin: 100px -300px 0;
    height: 200px;
    width: 600px; 
}

.login-view input {
    margin: 0 10px 0 0;
}

.make-selection {
    padding: 100px 0;
    text-align: center;
}

.selection-list {
    height: 100vh;
    overflow: auto;
    width: 250px;
}

.content-pane {
    height: 100vh;
    overflow: auto;
}

.content-pane table {
    width: 90%;
    margin: 20px auto;
}

.selection-list-header {
    padding-bottom: 10px;
    padding-left: 15px;
    border-bottom:1px solid #ddd;
}

.selection-list-item {
    background:#fff;
    border-bottom:1px solid #ddd;
    color:#333;
    display:block;
    margin:0;
    padding:8px 15px;
    text-decoration:none;
}

.selection-list-item:hover {
    background: #f5f5f5;
}

.selection-list-item-active {
    background: #e0e0e0;
}

.notification {
    position: fixed;
    min-width: 100%;
    text-align: center;
    top: 0;
    right: 0;
}

.notification-success {
    background: #75ec75;
}

.row-highlight {
    background: #fdfd77;
}

.color-failure {
    background: #ff6e6e;

}
