# configuration file for development environment

# the logger engine to use
# console: log messages to STDOUT (your console where you started the
#          application server)
# file:    log message to a file in log/
logger: LogAny

engines:
  logger:
    LogAny:
      category: dancer
      logger:
        - Screen
        - use_color
        - 1
  session:
    YAML:
    session_dir: "/tmp/dancer-sessions"

session: YAML

# the log level for this environment
# core is the lowest, it shows Dancer2's core log messages as well as yours
# (debug, info, warning and error)
log: "core"

# should Dancer2 consider warnings as critical errors?
warnings: 1

# should Dancer2 show a stacktrace when an 5xx error is caught?
# if set to yes, public/500.html will be ignored and either
# views/500.tt, 'error_template' template, or a default error template will be used.
show_errors: 1

# print the banner
startup_info: 1

plugins:
  DBIC:
    default:
      dsn: dbi:Pg:dbname=preflight;host=127.0.0.1
      user: preflight
      schema_class: Conch::Schema
