# configuration file for production environment

logger: LogAny

engines:
  logger:
    LogAny:
      category: dancer
      logger:
        - Log4perl
  session:
    YAML:
    session_dir: "/tmp/dancer-sessions"

# Do not change this value; it is required to set up the logger in Dancer2.
# Instead, to limit the level of logs, configure the LogAny engine above.
log: "core"

# don't consider warnings critical
warnings: 0

# hide errors
show_errors: 1

# disable server tokens in production environments
no_server_tokens: 1

plugins:
  DBIC:
    default:
      dsn: dbi:Pg:dbname=preflight;host=127.0.0.1
      user: preflight
      schema_class: Conch::Schema
